#sign-in{
	display: block;
	width: 100%;
	height: 100px;
	background-color:white;
}

#sign-up{
	display: block;
	width: 100%;
	height: 280px;
	background-color: white;
}

#sign-up input, select{
	display: block;
	margin: 0 auto;
	width: 80%;
}

#sign-in input{
	display: block;
	margin: 0 auto;
	width: 80%;
}

#right{
	display: inline-block;
	width: 250px;
	float: right;
	height: 400px;
	margin-left: 10px;
}

#right h3{
	text-align: center;
	width: auto;
}

body{
	display: block;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #FFAA7F;
}

#left{
	display: inline-block;
	margin: 0 0;
	width: 340px;
}

#left img {
	display: block;
	height: 400px;
	width: auto;
}


.topbtn{
	display: inline-block;
	width: 30%;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#wall, #wallb{
	display: block;
	margin: 0 auto;
	width: 80%;
	font-family: Helvetica;
}

#wall div, #wallb div{
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 5px;
	border: dotted 1px black;
	background-color: #FFD9C5;
}

#wall div h4, #wallb div h4{
	color: gray;
	margin: 0;
	padding: 0;
}

#home, #browse, #account{
	display: block;
	margin: 0 auto;
	width: 100%;
}

#userinfo, #userwallinfo{
	display: block;
	margin: 0 auto;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#userinfo div, #userwallinfo div{
	display: inline-block;
	width: 49%;
}

#postmess{
	display: block;
	margin: 0 auto;
	width: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#postmess input{
	display: block;
	margin: 0 auto;
}

.reload{
	display: block;
	margin: 0 auto;
}

#finduser{
	display: block;
	text-align: center;
	margin: 0 auto;
}